* {
    background-color: lemonchiffon;
}

h1 {
    color: cadetblue;
    text-align: center;
}

a {
    display: block;
    color: slateblue;
    background-color: lightgoldenrodyellow;
    margin: 20px;
    border: solid 2px;
    border-color: rgb(214, 203, 57);
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
}